
.todo-section{
    position: absolute;
    width: 60%;
    height: 95vh;
    left: 20%;
    top: -65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 1rem;
    
}

.todo-section .title{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.todo-section .title h1{
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 4pt;
}

.todo-section .loader{
    position: absolute;
    width: 25%;
    height: 25%;
    bottom: 37.5%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1000;
}



.todo-section .todo-container{
    width: 100%;
    height: 80%;
}

.todo-section .todo-container form{
    position: relative;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.todo-section .todo-container form .field{
    width: 90%;
    height: 3.5rem;
    
    
    font-size: 1rem;
    
    
}

.todo-section .todo-container form .field mat-label{
    color: white;
}

.todo-section .todo-container form .field input{
    color: white;
}



/* .todo-section .todo-container form input{
    width: 90%;
    height: 3.5rem;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.todo-section .todo-container form #btnCreate{
    width: 10%;
    height: 3.5rem;
    
    /* border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    background: white;
    
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.2rem; */
}

.todo-section .todo-container .list{
    width: 100%;
    height: 50%;
    display: grid;
    background: white;
    grid-template-columns: 1fr;
    grid-auto-rows: 3rem;
    row-gap: .5rem;
    overflow-y: auto;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todo-section .todo-container .list .item{
    width: 100%;
    
    background: var(--blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 0.2rem .5rem;
    
    border-radius: 10px;
}

.todo-section .todo-container .list .item input{
    width: 10%;
    transform: scale(2);
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari y Chrome */
    -o-transform: scale(2); /* Opera */

}



.todo-section .todo-container .list .item .text{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    text-transform: capitalize;
    
    
}

.todo-section .todo-container .list .item button{
    width: 2rem;
    height: 2rem;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.todo-section .todo-container .tools{
    width: 100%;
    height: 20%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todo-section .todo-container .tools .remaining{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-section .todo-container .tools .remaining span{
    color: var(--blue);
    font-weight: 700;
}

.todo-section .todo-container .tools .filters{
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.todo-section .todo-container .tools .filters > button{
    width: 25%;
    height: 50%;
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 .5rem;
    transition: .2s;
    cursor: pointer;
}

.todo-section .todo-container .tools .filters > button:hover{
    background: var(--blue);
    color: white;
}

.todo-section .todo-container .tools .clear{
    width: 8.5rem;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-section .todo-container .tools .clear > button{
    width: 100%;
    height: 50%;
    text-align: center;
    
   

}

/** MEDIA QUERIES **/

@media only screen and (max-width: 51.25rem){/*820px*/

    .todo-section{
        width: 80%;
        left: 10%;
    }

} 

@media only screen and (max-width: 38.25rem){/*612px*/

    .todo-section{
        width: 100%;
        height: 95vh;
        left: 0;
        top: -65%;
    }

    .todo-section .todo-container .list{
        height: 50%;

        grid-auto-rows: 3rem;
    }

    .todo-section .todo-container .tools{
        height: 20%;
        justify-content: center;
        
        padding: .2rem 0;
    }

    .todo-section .todo-container .tools .remaining{
        width: 50%;
        height: 100%;
        
    }

    .todo-section .todo-container .tools .filters{
        position: absolute;
        bottom: -10%;
        width: 95%;
        height: 10%;
        background: white;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .todo-section .todo-container .tools .clear{
        width: 50%;
        height: 100%;
        
    }

    .todo-section .todo-container .tools .clear > button{
        width: 8.5rem;
    }

    

} 

@media only screen and (max-width:28.125rem){ /*450px*/

    .todo-section .todo-container .list{
        

        grid-auto-rows: 50%;
    }
}